BMG_1st_reminder_After_Hipo_request_approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reminder_to_Partner</name>
        <label>Reminder to Partner</label>
        <locationX>828</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>NoSPMs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sf-no-reply@meta.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailHeader</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_Global_Spm_and_partners</name>
        <label>Send email to Global Spm and partners</label>
        <locationX>564</locationX>
        <locationY>2268</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>saritachhatoi@meta.com ,sooinkim0905@fb.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sf-no-reply@meta.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailHeader</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_partners_with_SPM_and_DD_Team</name>
        <label>Send email to partners with SPM and DD Team</label>
        <locationX>300</locationX>
        <locationY>2268</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SPMPartnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sf-no-reply@meta.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailHeader</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Collect_Accounts</name>
        <label>Collect Accounts</label>
        <locationX>718</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>AddAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Brand_Team_IDs</name>
        <label>Collect Brand Team IDs</label>
        <locationX>718</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>BrandTeamIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Brand_Team_Junction.Brand_Team__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Brand_Team_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoprimarySPMs</name>
        <label>NoprimarySPM</label>
        <locationX>784</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>NoprimarySPM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Brand_Team_Members.User_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Brand_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoSPMandPartner_Email</name>
        <label>No SPMandPartner Email</label>
        <locationX>564</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>NonPrimarySPMPartner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Partner_Incentive__r.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NonPrimarySPMPartner</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>bmgdealopsnotifications@meta.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NonPrimarySPMPartner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoprimarySPM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_to_Global_Spm_and_partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoSPMs_Found</name>
        <label>NoSPMs Found</label>
        <locationX>828</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>NoSPMs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Partner_Incentive__r.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoSPMs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>bmgdealopsnotifications@meta.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reminder_to_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPMandPartner_Email</name>
        <label>SPMandPartner Email</label>
        <locationX>300</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>SPMPartnerEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SPMEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPMPartnerEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Partner_Incentive__r.CreatedBy.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_to_partners_with_SPM_and_DD_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPMEmailAddress_primary</name>
        <label>SPMEmailAddress</label>
        <locationX>520</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>SPMEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Brand_Team_Members.User_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Brand_Team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_is_blank_or_not</name>
        <label>Email is blank or not?</label>
        <locationX>432</locationX>
        <locationY>2028</locationY>
        <defaultConnector>
            <targetReference>NoSPMandPartner_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPMEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPMandPartner_Email</targetReference>
            </connector>
            <label>Primary Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_True_or_False</name>
        <label>Is Primary True or False</label>
        <locationX>652</locationX>
        <locationY>1596</locationY>
        <defaultConnector>
            <targetReference>NoprimarySPMs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Primary  False</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Brand_Team_Members.IsPrimary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPMEmailAddress_primary</targetReference>
            </connector>
            <label>Is Primary True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check?</label>
        <locationX>630</locationX>
        <locationY>1356</locationY>
        <defaultConnector>
            <targetReference>NoSPMs_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Brand_Team_Junction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Brand_Team_Members</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>Once HiPo request is approved, send email to partners 2 weeks before end of each quarter, asking them to verify if the project is still active for the duration of the project. This applies to all HiPO Deal.</description>
    <environments>Default</environments>
    <formulas>
        <name>BMGPRMSiteLinkFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.BMG_PRM_Site_Link}&amp;&quot;/&quot;&amp;{!$Record.Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>Lastdatetosubmitproofofcompletion</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Project_End_Date__c})+30</expression>
    </formulas>
    <interviewLabel>BMG - After Hipo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMG - 1st reminder After Hipo request approved</label>
    <loops>
        <name>Loop_Account</name>
        <label>Loop Account</label>
        <locationX>630</locationX>
        <locationY>444</locationY>
        <collectionReference>Get_Account_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Brand_Team_Junction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Brand_Team_Members</name>
        <label>Loop Brand Team Members</label>
        <locationX>432</locationX>
        <locationY>1476</locationY>
        <collectionReference>Get_Brand_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Primary_True_or_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_is_blank_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_Brand_Team_IDs</name>
        <label>Loop for Brand Team IDs</label>
        <locationX>630</locationX>
        <locationY>900</locationY>
        <collectionReference>AddAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Brand_Team_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Brand_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>630</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Brand_Team_Junction</name>
        <label>Get Brand Team Junction</label>
        <locationX>630</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Brand_Team_IDs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 )AND 4</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AddAccounts</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BMG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Messaging Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Brand_Team_Junction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Brand_Team__c</queriedFields>
        <queriedFields>Program__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Team_Type__c</queriedFields>
        <queriedFields>Has_Active_Members__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Brand_Team_Members</name>
        <label>Get Brand Team Members</label>
        <locationX>630</locationX>
        <locationY>1236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand_Team__c</field>
            <operator>In</operator>
            <value>
                <elementReference>BrandTeamIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Brand_Team_Member__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Brand_Team__c</queriedFields>
        <queriedFields>User_Email__c</queriedFields>
        <queriedFields>IsPrimary__c</queriedFields>
        <queriedFields>IsActive__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>503</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchase Order Issued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Incentive_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchase Order Issued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Incentive_no_days_to_end_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Incentive_Claim_Attachment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Deal_Desk_Support_Request__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-02</startDate>
            <startTime>14:49:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Partner,
&lt;br&gt;
&lt;p&gt;This is a friendly reminder that your HiPo account funds project will end in 2 weeks. Project details below:
&lt;br&gt;&lt;ul&gt;&lt;li&gt;Client name: {!$Record.Opportunity__r.Account.Name}&lt;/li&gt;
&lt;li&gt;Purchase Order Number: {!$Record.Purchase_Order__c}&lt;/li&gt;
&lt;li&gt;Project Start Date: {!$Record.Project_Start_Date__c}&lt;/li&gt;
&lt;li&gt;Project Completion Date: {!$Record.Project_End_Date__c}&lt;/li&gt;
&lt;li&gt;Last date to submit proof of completion: {!$Record.End_Date_for_PO_Closed__c}&lt;/li&gt;&lt;/ul&gt;
&lt;p&gt;Two options are available for you:
&lt;br&gt;&lt;ol&gt;&lt;li&gt;Request an extension: If a HiPo account funds project extension is needed, update the project Completion Date on the HiPo account funds request &lt;a href=&quot;{!BMGPRMSiteLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; within 30 days of the project Completion Date. Meta, in its sole discretion, may approve such requests for extension of the project Completion Date for periods not to exceed 60 days. &lt;/li&gt;  
&lt;li&gt;Submit proof of completion: Submit proof of completion within 30 days from the Project Completion Date of {!$Record.Project_End_Date__c} &lt;a href=&quot;{!BMGPRMSiteLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;. If proof of completion is not received within 30 days from the project Completion Date, then the purchase order will be closed and will be null and void.&lt;/li&gt;&lt;/ol&gt;
&lt;br&gt;
&lt;p&gt;Thank you,
&lt;br&gt;Meta Business Messaging Team</text>
    </textTemplates>
    <textTemplates>
        <name>emailHeader</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Business Messaging Partner Portal: [Reminder] End date is approaching for {!$Record.Opportunity__r.Account.Name} HiPo account funds project</text>
    </textTemplates>
    <variables>
        <name>AddAccounts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrandTeamIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NonPrimarySPMPartner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoprimarySPM</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoSPMs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPMEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPMPartnerEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
