Create_FB_Object_Offering_and_Participant_record_from_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_FB_Object_Record</name>
        <label>Assign FB Object Record</label>
        <locationX>29</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>tempvarFBObjectRecord.ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTempFBOId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarFBObjectRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarFBObjectRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFBOType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarFBObjectRecord.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarPrimaryGroupCategory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_FB_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_fb_page_id_to_temp_variable</name>
        <label>assign fb page id to temp variable</label>
        <locationX>362</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>varTempFBOId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarFBPageId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFBOType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_matching_FB_Object_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_fields</name>
        <label>Assign fields</label>
        <locationX>1568</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarGender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Preferred_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarPreferredLanguage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Opt_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarOptin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Street_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarZipPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Original_Lead_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarLeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Primary_Group_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarFBGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Facebook_User_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarFBUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Community_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!ivarFirstName} {!ivarLastName} </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Community_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempvarOfferingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Country_Master__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.FB_Page_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarFBPageId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.English_Proficiency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarEnglishProficiency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Participant_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Offering_record</name>
        <label>Assign new Offering record</label>
        <locationX>357</locationX>
        <locationY>986</locationY>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121H000001LyvhQAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.Group_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarFBGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.Country_Master__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.FB_Page_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarFBPageId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.FB_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempvarFBObjectRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.Multiple_groups_related_to_primary_group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarMultipleGroupRelatedToPrimaryGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarProgram</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.Does_Your_Community_Meet_Offline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarDoesYourCommunityMeetOffline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarTellUsAboutCommunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Offering_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_to_temporary_variable</name>
        <label>Assign value to temporary variable</label>
        <locationX>158</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>varTempFBOId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ivarFBGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFBOType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>group</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_matching_FB_Object_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Offering_to_FB_Object</name>
        <label>Link Offering to FB Object</label>
        <locationX>600</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>tempvarOfferingRecord.FB_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempvarFBObjectRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Offering_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Participant_Record_to_Offering</name>
        <label>Link Participant Record to Offering</label>
        <locationX>1173</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>tempvarParticipantRecord.Community_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempvarOfferingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Participant_Offering_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_FB_Object</name>
        <label>Create FB Object?</label>
        <locationX>41</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>Find_Offering_with_matching_group_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FB_Object_does_not_exist_Create_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempvarFBObjectRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FB_Object_Record</targetReference>
            </connector>
            <label>FB Object does not exist, Create it</label>
        </rules>
    </decisions>
    <decisions>
        <description>if participant does not exist, create it.</description>
        <name>Create_Participant</name>
        <label>Create Participant?</label>
        <locationX>993</locationX>
        <locationY>34</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Participant_now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempvarParticipantRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_fields</targetReference>
            </connector>
            <label>Create Participant</label>
        </rules>
        <rules>
            <name>Participant_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempvarParticipantRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Participant already exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if there is an FB Group ID provided.</description>
        <name>FB_Group_ID_provided_is_Provided</name>
        <label>FB Group ID is provided?</label>
        <locationX>179</locationX>
        <locationY>23</locationY>
        <defaultConnector>
            <targetReference>FB_Page_ID_provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FB_Group_ID_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ivarFBGroupId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_to_temporary_variable</targetReference>
            </connector>
            <label>FB Group ID provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>See if FB Page ID is provided as input</description>
        <name>FB_Page_ID_provided</name>
        <label>FB Page ID provided?</label>
        <locationX>354</locationX>
        <locationY>31</locationY>
        <defaultConnector>
            <targetReference>Find_participant_with_matching_FB_Page_ID_and_FB_User_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FB_Page_ID_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ivarFBPageId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_fb_page_id_to_temp_variable</targetReference>
            </connector>
            <label>FB Page ID is provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>Offering is found with either a matching FB Group ID or FB Page ID</description>
        <name>Is_Offering_Linked_to_FB_Object</name>
        <label>Is Offering Linked to FB Object</label>
        <locationX>486</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Find_participant_with_matching_FB_UID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Link_Offering_To_FB_Object_now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempvarOfferingRecord.FB_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Offering_to_FB_Object</targetReference>
            </connector>
            <label>No, Link Offering to FB Object_now</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_Participant_to_Offering</name>
        <label>Link Participant to Offering?</label>
        <locationX>991</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Link_Participant_Record_to_Offering_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempvarParticipantRecord.Community_Offering__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>tempvarOfferingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Participant_Record_to_Offering</targetReference>
            </connector>
            <label>Link Participant Record to Offering Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offering_with_matching_FB_Page_ID_Found</name>
        <label>Offering with matching FB Page ID Found?</label>
        <locationX>358</locationX>
        <locationY>801</locationY>
        <defaultConnector>
            <targetReference>Is_Offering_Linked_to_FB_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Offering_with_matching_FB_Page_ID_create_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempvarOfferingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Offering_record</targetReference>
            </connector>
            <label>No Offering with matching FB Page ID, create it</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offering_with_Matching_Group_Found</name>
        <label>Offering with Matching Group Found?</label>
        <locationX>284</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Is_Offering_Linked_to_FB_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Offering_With_Matching_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempvarOfferingRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_offering_with_matching_fb_page_id</targetReference>
            </connector>
            <label>No Offering with matching Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Participant_with_matching_Group_ID_found</name>
        <label>Participant with matching Group ID found?</label>
        <locationX>818</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Link_Participant_to_Offering</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Participant_with_Matching_Group_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempvarParticipantRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Participant_with_matching_FB_Page_ID</targetReference>
            </connector>
            <label>No Participant with Matching Group ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Participant_with_Page_ID_match</name>
        <label>Participant with Page ID match?</label>
        <locationX>991</locationX>
        <locationY>495</locationY>
        <defaultConnector>
            <targetReference>Link_Participant_to_Offering</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Participant_with_matching_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempvarParticipantRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_fields</targetReference>
            </connector>
            <label>No Participant with matching Page</label>
        </rules>
    </decisions>
    <description>Checks to see if each record exists, if not, create or associate them to each other.; T52800431 - enhance flow to add city to participant, and to allow one participant to multiple groups.;T54172432</description>
    <interviewLabel>Create FB Object, Offering and Participant record from Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create FB Object, Offering and Participant record from Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_FB_Object</name>
        <label>Create New FB Object</label>
        <locationX>105</locationX>
        <locationY>812</locationY>
        <connector>
            <targetReference>Find_Offering_with_matching_group_ID</targetReference>
        </connector>
        <inputReference>tempvarFBObjectRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Offering_Record</name>
        <label>Create New Offering Record</label>
        <locationX>998</locationX>
        <locationY>985</locationY>
        <connector>
            <targetReference>Find_participant_with_matching_FB_UID</targetReference>
        </connector>
        <inputReference>tempvarOfferingRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Participant_Record</name>
        <label>Create New Participant Record</label>
        <locationX>1568</locationX>
        <locationY>319</locationY>
        <inputReference>tempvarParticipantRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>see if the fb object record already existed</description>
        <name>Find_matching_FB_Object_record</name>
        <label>Find matching FB Object record</label>
        <locationX>49</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_FB_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTempFBOId</elementReference>
            </value>
        </filters>
        <object>FB_Object__c</object>
        <outputReference>tempvarFBObjectRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ID__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>See if an offering with matching FB Page ID exist.</description>
        <name>Find_offering_with_matching_fb_page_id</name>
        <label>Find offering with matching fb page id</label>
        <locationX>289</locationX>
        <locationY>610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Offering_with_matching_FB_Page_ID_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FB_Page_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTempFBOId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121H000001LyvhQAC</stringValue>
            </value>
        </filters>
        <object>Offerings__c</object>
        <outputReference>tempvarOfferingRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FB_Page_ID__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FB_Object__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>See if an offering record with matching Primary Group ID already exists.</description>
        <name>Find_Offering_with_matching_group_ID</name>
        <label>Find Offering with matching Group Id</label>
        <locationX>166</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Offering_with_Matching_Group_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTempFBOId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121H000001LyvhQAC</stringValue>
            </value>
        </filters>
        <object>Offerings__c</object>
        <outputReference>tempvarOfferingRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Group_ID__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FB_Object__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>see if the user is already a participant on the page.</description>
        <name>Find_participant_with_matching_FB_Page_ID_and_FB_User_ID</name>
        <label>Find participant with matching FB Page ID and FB User ID</label>
        <locationX>627</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Facebook_User_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ivarFBUserId</elementReference>
            </value>
        </filters>
        <object>Participant__c</object>
        <outputReference>tempvarParticipantRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Community_Offering__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Find participant with matching email</description>
        <name>Find_participant_with_matching_FB_UID</name>
        <label>Find participant with matching FB UID</label>
        <locationX>695</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Participant_with_matching_Group_ID_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Facebook_User_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ivarFBUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Group_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ivarFBGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Group_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Participant__c</object>
        <outputReference>tempvarParticipantRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Facebook_User_ID__c</queriedFields>
        <queriedFields>Community_Offering__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Participant_with_matching_FB_Page_ID</name>
        <label>Participant with matching FB Page ID?</label>
        <locationX>803</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Participant_with_Page_ID_match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FB_Page_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ivarFBPageId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FB_Page_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Facebook_User_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ivarFBUserId</elementReference>
            </value>
        </filters>
        <object>Participant__c</object>
        <outputReference>tempvarParticipantRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FB_Page_Id__c</queriedFields>
        <queriedFields>Facebook_User_ID__c</queriedFields>
        <queriedFields>Community_Offering__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Offering_Record</name>
        <label>Update Offering Record</label>
        <locationX>679</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Find_participant_with_matching_FB_UID</targetReference>
        </connector>
        <inputReference>tempvarOfferingRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Participant_Offering_Field</name>
        <label>Update Participant Offering Field</label>
        <locationX>1173</locationX>
        <locationY>390</locationY>
        <inputReference>tempvarParticipantRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FB_Group_ID_provided_is_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsPage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>assign city</description>
        <name>ivarCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>assign participant country</description>
        <name>ivarCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarDoesYourCommunityMeetOffline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>input variable with participant email</description>
        <name>ivarEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarEnglishProficiency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Facebook Group Id passed in from the lead record.</description>
        <name>ivarFBGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarFBOcreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>this is the primary group id</description>
        <name>ivarFBPageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarFBUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarGender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>assign last name</description>
        <name>ivarLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarMultipleGroupRelatedToPrimaryGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IvarOfferingCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ivarOptin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarPreferredLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarPrimaryGroupCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarStreetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarTellUsAboutCommunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ivarZipPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempvarFBObjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FB_Object__c</objectType>
    </variables>
    <variables>
        <name>tempvarNewFBObjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FB_Object__c</objectType>
    </variables>
    <variables>
        <name>tempvarOfferingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Offerings__c</objectType>
    </variables>
    <variables>
        <name>tempvarParticipantRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>varFBOType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varMatchingPageID</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>temporary storage for FBO ID to match</description>
        <name>varTempFBOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTempPrimaryKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
